@charset "UTF-8";



*{
    margin: 0;
    padding: 0;
}
body  {
   
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to left , #949ef5 , #2c2f4b);
    
}



header p{
    padding: 10px ;
    line-height: 2em;
    
}
header h1{
    padding-bottom: 20px ; 
}
header {
    background-image: linear-gradient(rgb(1, 1, 19) , blue);
    color: white;
    height: 150;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
   
}
nav {
    background-image: linear-gradient(to top ,rgb(1, 1, 19) , blue);/* Azul escuro */
    color: #f0f8ff; /* Azul claro */
    padding: 10px;
    
}
main#paciente {
    
    min-width: 250px;
    max-width: 413px;
    height: 380px;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    margin: auto;
}

main#principal1 {
    background-color: rgb(255, 255, 255);
    min-width: 250px;
    max-width: 1000px;
    border-radius: 0px 0px 10px 10px;
    padding: 20px;
    margin: auto;
}

main h2{
    padding: 5px;
}


#medico, #pagamento , #consulta{
    height: 20px;
}


main .container{
    background-color: rgba(90, 93, 255, 0.781);
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    border: 2px solid black;
    box-shadow: 3px 2px 2px rgb(54, 53, 53);
    height: 400px;
    border-radius: 5px;
    display: inline-block;
    

}




label{
    display: inline-block;
}

form label:hover{
    background-color: #000080;
}

button:hover {
    color: #ffffff;
    text-decoration: underline;
    background-color: rgb(32, 25, 8);
    font-weight: bold;
    transition: .2s;
    border: #1e90ff;

}

button{
    border-radius: 10px;
}

form#pg{
    color: rgb(255, 255, 255);
    font-weight: bold;
    display: block;
    text-shadow: 3px 3px 3px black ;
    display: inline-block;
    
}
footer {
    background-color: #1e90ff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    
}

main p {

    text-align: justify;
    text-indent: 20px;
    line-height: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
color: white;
text-decoration: none;
margin: 10px;
border-radius: 5px;
font-weight: bold;
}
div p {
text-indent: 20px;
text-align: justify;
font-size: 1.2em;
font-family: Arial, Helvetica, sans-serif;
padding-top: 15px;
line-height: 2em;
}
h2{
background-image: linear-gradient(to right, rgb(1, 1, 19) , blue, transparent )  ;
color: white;
padding: 1px;



}
main ul{

margin-top: 6pxpx;
padding: 10px;
margin-bottom: 10px;
border-radius: 5px;

}
aside >h2 {
    border-radius: 10px 0px 0px 0px;
    }


main ul li{


text-align: justify;
font-weight: bold;
list-style-type: '\2714\0020\0020';
list-style-position: inside;
font-size: 15px;

}
aside p {
font-family: Arial, Helvetica, sans-serif;
color: black;
margin-left: 5px ;
padding: 0px 10px 5px 5px;
}
img{
    margin-top: 10px;
    margin-bottom: 10px;
}
picture p {
    
    margin-bottom: 10px;
}
nav a:hover{
    text-decoration: underline;
    background-color: #03000c;
    box-shadow: 10px;
    font-weight: bold;
    
}

nav a :active{
    background-color: aqua;
    color: aqua;
}

aside{
    background-color: #949ef5;
    border-radius: 5px;
}
#endereco{
    text-indent: 0px;
    margin: 10px;
    padding-left: 5px;
    font-weight: bold;
    font-size: 0.9em;
}


.container h2{
    margin-left: -5px;
    
    
}

 
/*DATAS E HORAS INSERIDAS POR ULTIMO*/

/*input[type="date"] , input[type="time"] {
    
    display: block;
    width: 20%;
    padding: 5px;
    border-radius: 5px;
    margin-left: 120px;
    
  }
  */
button{
    height: 60px;
    width: 200px;
    color: rgb(0, 0, 0);
    background-color: chartreuse;
    font-weight: bold;
    display: block;
    margin: 10px auto;
    text-align: justify;
    text-align: center;
    


}

div .form-group{
    margin-bottom: 10px;
    margin-top: 10px;
}

picture{
    margin: auto;
    
}



  nav a {
    border: 1px solid rgba(0, 0, 0, 0.514);
    background-image: linear-gradient(to bottom, rgba(0, 4, 255, 0.671), rgb(5, 147, 241) , transparent );
    padding: 10px;
    display: inline-block;
    
  }

  /*Configuração do login*/

  body.pacientes{
    background-image: url('imagens/principal.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
 
form#formL {
    background-color: #4169e1; /* Azul escuro */
    padding: 20px;
    width: 300px;
    margin: 100px auto;
    border-radius: 10px;
}
input#nome1[type="text"], input#senha1[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}
input[type="submit"] {
    margin: auto;
    display: block;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f0f8ff; /* Azul claro */
    color: #4169e1; /* Azul escuro */
    cursor: pointer;
}

a#entrar{
    margin: auto;
    display: block;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f0f8ff;
    width: 15%;
    text-decoration: none;

}

a#entrar:hover{
    background-color: #1e90ff;
    color: white;
    
}

  a#entrar:active{
    color: yellow;
  } 

  #maps{
    margin-top: 15px;
    border: 1px solid black;
    width: 300px;
  }

  
 